@model IEnumerable<LiquorStore.Models.Product>

@{
    ViewData["Title"] = "Home";
}

    <div>
        <h1 style="font-size: 75px; font-family: 'Brush Script MT';text-align: center">J & A Liqour and Spirits</h1><br /><br />
    </div>
    <div>
        <img style ="width: 100%; align-items: center;"src="~/Images/41617 Made in Canada Campaign_PromoBanner_FA.jpg"/><br /><br />
    </div>
    <div>
        <h2>On Sale</h2>
        <table style="border-spacing: 150px; border-collapse: separate;">
            <tr>
                @foreach (var item in Model)
                {
                    <td style="width: 300px; font-size: 20px;">
                        <img style="width: 100%" src="~/Images/251876.jpg.thumb.319.319.png" /> <br /><br />
                        @Html.ActionLink(item.Name, "Details", "Product", new { id = item.Id }) <br />
                        @Html.DisplayFor(modelItem => item.Brand)<br />
                        @Html.DisplayFor(modelItem => item.Category)<br />
                        @Html.DisplayFor(modelItem => item.Price) <br />
                    </td>
                }     
            </tr>
            <tr>
                <td colspan="4" style="font-size: 30px; text-align: center;"> 
                    @Html.ActionLink("Shop All", "Index", "Product")
                </td>
            </tr>
        </table>
    </div>
    <div> 
        <div style="text-align: center;">
         <h2 >Categories</h2> 
         </div>
         <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; width: 20%; margin: 0 auto; justify-content: center; align-items: center; text-align: center;"> 
             <div> 
                 <a asp-controller="Product" asp-action="CategoryProducts" asp-route-category="Whiskey">
                 <img style="height: 200px; width: 200px;" src="~/Images/istockphoto-1140849064-612x612.jpg" /> 
                 <h2>Whiskey</h2> 
                 </a>
             </div> 
            <div>
                <a asp-controller="Product" asp-action="CategoryProducts" asp-route-category="Liquor">
                <img style="height: 200px; width: 200px;" src="~/Images/download.jpg" />
                <h2>Liquor</h2> 
                </a>
             </div> 
            <div> 
                <a asp-controller="Product" asp-action="CategoryProducts" asp-route-category="Vodka">
                <img style="height: 200px; width: 200px;" src="~/Images/Screenshot 2025-03-17 031817.png"/>
                <h2>Vodka</h2>
                </a>
             </div>
         </div>
        
    </div> 





