@model LiquorStore.Models.Product

@{
      ViewBag.Title = "Product Details";
}

<h2>Product Details</h2>

<table class="table">
    @if (Model.Image != null && Model.Image.Length > 0)
            {
                <img style="width: 100%; object-fit: contain; height: 300px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
            }       
            else
            {
                <img style="width: 100%; object-fit: contain; height: 300px;" src="~/Images/251876.jpg.thumb.319.319.png" />
            }
    <tr>
        <th>Name:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <th>Brand:</th>
        <td>@Model.Brand</td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>StockQuantity:</th>
        <td>@Model.StockQuantity</td>
    </tr>
    <tr>
        <th>Size:</th>
        <td>@Model.Size</td>
    </tr>
</table>
@Html.ActionLink("Back", "Index")