@model IEnumerable<LiquorStore.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>


<div style="position: relative;">
    <input type="text" id="searchBox" placeholder="Search for products..." class="form-control" autocomplete="off">
    <ul id="suggestions" class="list-group"></ul>
</div>

<div id="searchResults">
    @Html.Partial("_DisplayProducts", Model)
</div>
 
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#searchBox").on("input", function () {
                var query = $(this).val().trim();
                
                if (query.length > 1) {
                    $.ajax({
                        url: '@Url.Action("Search", "Product")',
                        type: 'GET',
                        data: { term: query },
                        success: function (data) {
                            var suggestions = $("#suggestions");
                            suggestions.empty();
                            
                            if (data.length > 0) {
                                data.forEach(function (item) {
                                    suggestions.append(
                                        `<li class="list-group-item suggestion-item" data-id="${item.id}">${item.name} - ${item.brand} (${item.category}) - $${item.price}</li>`
                                    );
                                });

                                suggestions.show(); 
                            } else {
                                suggestions.append("<li class='list-group-item'>No results found</li>").show();
                            }
                        }
                    });

                    $.ajax({
                        url: '@Url.Action("FilterProducts", "Product")',
                        type: 'GET',
                        data: { term: query },
                        success: function (html) {
                            $("#searchResults").html(html);
                        }
                    });

                } else {
                    $("#suggestions").hide();
                    $("#searchResults").load('@Url.Action("Index", "Product") #searchResults'); // Reset product list
                }
            });

            $(document).on("click", ".suggestion-item", function () {
                var selectedText = $(this).text();
                $("#searchBox").val(selectedText);
                $("#suggestions").hide();
            });

            $(document).on("click", function (e) {
                if (!$(e.target).closest("#searchBox, #suggestions").length) {
                    $("#suggestions").hide();
                }
            });
        });
    </script>
    <script>
             $(document).on("click", ".add-to-cart", function () {
            var productId = $(this).data("product-id");
            var button = $(this);

            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")',
                type: 'POST',
                data: { productId: productId },
                success: function (response) {
                    if (response.success) {
                        $("#cartItemCount").text(response.itemCount);
                        $("#cartGrandTotal").text("$" + response.grandTotal.toFixed(2));
                        toastr.success('Item added to cart');
                    } else {
                        toastr.error(response.message);
                    }
                }
            });
        });
    </script>
}


<style>
    #suggestions {
        position: absolute;
        width: 100%;
        z-index: 1000;
        background: white;
        border: 1px solid #ddd;
        max-height: 200px;
        overflow-y: auto;
        
    }

    .suggestion-item {
        cursor: pointer;
        padding: 5px 10px;
    }

    .suggestion-item:hover {
        background-color: #f0f0f0;
    }
</style> 
